body {
    background-color: #c8eb76;
}

#song-input {
    background-color: #fcd9b4;
    border-radius: 8px;
    font-size: 20px;
    border-color: #f2a054;
}

#song-search {
    background-color: #f27059;
    color: #ecf39e;
    border-radius: 5px;
    font-size: 25px;
}

#Title {
    color: #f25c54;
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
}

.user-navigation {
    background-color: #ee6335;
    color: #f5c491;
    border-radius: 10px;
    font-size: 30px;
}

@media (min-width: 700px){
    
    .user-input {
        display: flex;
        margin-top: 120px;
        justify-content: center;
        gap: 20px;
    }
    
    button {
        font-family: 'Barlow', sans-serif;
        border-color: #f5e487;
    }
    
    .header-class {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap-reverse;
    }
    
    .header-title {
        display: flex;
        justify-content: center;
        flex-grow: 3;
        position: relative;
        left: 8px;
    }
    
    .header-buttons {
        display: flex;
        justify-content: center;
        position: relative;
        gap: 35px;
        margin-right: 60px;
        left: 20px;
    }
}

@media (max-width: 700px) {
    .user-input {
        display: flex;
        margin-top: 120px;
        justify-content: center;
        gap: 20px;
    }
    
    button {
        font-family: 'Barlow', sans-serif;
        border-color: #f5e487;
    }
    
    .header-title {
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
    }
    
    .header-buttons {
        display: flex;
        justify-content: space-evenly;
        
    }
}
