.main-track {
    display: flex;
    font-family: 'Outfit', sans-serif;
    font-weight: 700px;
    color: white;
    align-items: center;
}

#track-image {
    margin: 20px;
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
}

#track-title {
    font-size: 60px;
    cursor: pointer;
}

#track-title-link {
    text-decoration: none;
    color: white;
}

#track-artist {
    font-size: 40px;
}

#track-data {
    margin: 45px;
}

.related-tracks > li{
    list-style-type: none;
}

.loading-elements {
    display: flex;
    font-size: 60px;
    color: white;
    justify-content: center;
    align-items: center;
}